* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-image:linear-gradient(to bottom, rgba(160, 149, 149, 0.555), rgba(128, 113, 113, 0.623)), url(./images/pexels-stanislav-kondratiev-2908984.jpg);
    background-size: cover;
    background-attachment: fixed;
}



body {
    height: 100%;
    /* max-width: 1400px;
    margin: auto; */
}

header {
    grid-column: 2 / 3;
}

.fixed-header {
    height: 140px;
   width: calc(100vw - 340px);
   min-width: 530px;
   background-color: rgba(83, 83, 83, 0.699);
   background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.459));
    color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template: 140px 1fr / 340px minmax(400px, 1fr);
}

.side-bar {
    background-color: rgba(44, 190, 226, 0.945);
    padding: 40px 20px;
    grid-row: 1 / 3;
}

.side-bar h2 {
    padding-bottom: 40px;
}

form .input-wrapper:not(:nth-last-child(2)) {
    display: flex;
    flex-direction: column;
}

.input-wrapper, form button {
    margin-top: 20px;
}

.my-books {
    /* background-color: rgba(197, 162, 162, 0.938); */
    padding: 40px;
    min-width: 530px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 300px;
    gap: 40px
}

.book-title-display {
    width: 200px;
    height: 300px;
    color: aliceblue;
    font-size: 1.5em;
    text-align: center;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    padding: 50px 30px;
    background-image: url(./images/annie-spratt-im8y4BO2hso-unsplash.jpg);
    background-size: contain;
    background-position: right;
}

.book-info-display {
    width: 200px;
    height: 300px;
    background-color: rgb(180, 180, 180);
    white-space: pre-wrap;
}

.book-title-display .remove-button {
    display: none;
}

.remove-button {
    height: 30px;
    width: 100px;
}


